<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="baidu_ditu1.lenovo.example.com.awdawdas.dtanfgtiaxia">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 涉及很多Camera的使用，所以你如果需要使用二维码识别，需要注意一下你的程序需要申请下面的权限，一般的Camera使用以及Camera的自动对焦等。 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 照相机 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main2Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main3Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Zhuanzhang_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.zhidao.KnowActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.workordermanager.OrderRecordActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.workordermanager.WorkerOrderManagerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DenLuActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.erweima.ErWeiMaActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.zhifu.ZhiFuActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.zhifu.ChatActivity"></activity>
    </application>

</manifest>